.container{
    margin: 20px 50px;
    padding: 100px;
    border: 1px solid black;
    background-color: white;
    }

body {
    background-color: sandybrown;
    }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

ul li{
    float: left;
}

ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

ul li a:hover{
    background-color: aliceblue;
}