body{
    background-color:darkgrey;
    }

  .grid-container{ 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;

    }
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

.nav li{
    float: left;
}

.nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.nav li a:hover{
    background-color: #555;
    color: white;
}

.grid-item {
background-color: lightblue;
text-align: center;
font-size: 30px;
padding: 20px;
}


.navmenu {
    grid-column: 1/ span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.supportsect1{
    grid-column: 1;
    grid-row: 4;
    background-color: red;
}
.supportsect2{
    grid-column: 2;
    grid-row: 4;
    background-color: red;
}

.main2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 3;
    background-color: darkred;
}

.sidenav2 {
    grid-column: 3;
    grid-row: 3 / span 3;
    background-color: rgb(126, 125, 125);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}

.supportsect3{
    grid-column: 1;
    grid-row: 4;
}
.supportsect4{
    grid-column: 2;
    grid-row: 4;
}

.para {
    font-size: 18px;
}